@media screen and (max-width: 600px) {
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
     
    }

  }

  @media screen and (max-width: 600px) {
    header   ul li ul li {
      
      margin-left: 70px;
    }
  }
  @media screen and (max-width: 600px) {
    header  ul li {
      
      margin-left: -150px;
    }
  }  @media screen and (min-width: 600px) {
    header   ul li ul li {
      
      margin-left: 60px;
    }
}

@media screen and (min-width: 768px){
    header .container{
      display: flex;
      flex-direction:row;
      width:100%;
      height: 70px;
      align-items:center;
      background-color: black;
      opacity: 0.5;
      position: relative;
      justify-content: center;
      margin: center;
  }
  
  }
  @media screen and (min-width: 768px){
    header ul{
        flex-direction:row ;
        width: 100vw;
        padding:0;
       height: 100%; 
       justify-content: center;
    }
  }  
  @media screen and (min-width: 768px){
    header  ul li {
      
      margin-left: 0px;
    }
  }
  @media screen and (min-width: 768px){
    header   ul li ul li {
      
      margin-left: 40px;
    }
  } 
  @media screen and (max-width: 600px) {
    header   ul li ul li {
      
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    header  ul {
        flex-direction: column ;
        
        width: 100vw;
       height: 100%;      
    }
  }

  @media screen and (min-width: 600px){
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
        
  }  
  }
  @media screen and (min-width: 600px){
    header ul{
        flex-direction: column-reverse ;
        width: 100vw;
       height: 100%; 
    }
  }  
  @media screen and (min-width: 768px){
    header .container  {
        background-color: black;
        opacity: 0.5;
        width: 100vw;
        height: auto;
        
  }  
  }
  @media screen and (min-width: 768px){
    header ul{
        flex-direction: row ;
        width: 100vw;
       height: 100%; 
    }
  }

  @media screen and (max-width: 600px){
    main .container{
      font-size: 15px;
      text-align: justify;
      margin-top: 250px;
      margin-bottom:50px ;
      flex-direction: column;
    
    flex-wrap: wrap;
     }
   } 



 @media screen and (max-width: 600px) {
  img{
  width:100%;
   }
  }

  @media screen and (min-width: 600px){
    main {
      font-size: 20px;
      margin-top: 250px;
      margin-bottom:50px ;
     }
   } 

@media screen and (min-width: 600px){
  .container{
    flex-direction: column;
    flex-wrap: wrap;
    ;
   }
 } 
 @media screen and (min-width: 600px) {
  img{
  width:100%;
   }
  }


  @media screen and (min-width: 768px){
    main {
      font-size: 20px;
      margin-top: 70px;
      margin-bottom:50px ;
     }
   } 
   @media screen and (max-width: 600px) {
    .container li ul li a{
      font-size: 12px;
      
    }

  }
@media screen and (max-width: 600px) {
    .container li ul li {
      margin-top:5px;
      color:white;
      width: 50%;
      
    
    }

  }
@media screen and (max-width: 600px) {
  .container li:hover > ul {
    display:inline;
    position:fixed;
  
  }
  }


@media screen and (min-width: 600px) {
    .container li:hover > ul {
      display:inline;
      position:fixed;
    
    }
    }
@media screen and (min-width: 600px) {
        .container li ul li {
          margin-top:5px;
          color:white;
          width: 50%;
          align-items: left;
              
        }
   
      }
@media screen and (min-width: 600px) {
        .container li ul li a{
          font-size: 15px;
          
        }
    }

@media screen and (min-width: 768px) {
        .container li:hover > ul {
          display:block;
          position:fixed;
        
        }
        }
    
@media screen and (min-width: 768px) {
          .container li ul li {
            
            margin-top:10px;
            color:white;
            width: 25%;
            
            padding: 0px;  
          }
        }

       
  

